*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

div#content_page ul {padding-bottom: 10px;margin-top: 10px;margin-bottom: 30px;border-bottom: 1px solid #252525;}

div#content_page {
    overflow: overlay;
    font-family: 'Montserrat', sans-serif;
}

div#title {
    font-size: 4.5rem;
    top: 60%;
    font-family: 'Montserrat', sans-serif;
    left: 10%;
    font-weight: bold;
    color: #fff;
}

.content_home .logo h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

.content_home .logo {
    position: absolute;
    left: 50px;
    top: 50px;
    color: #fff;
}

.content_home {
    background: url(Images/header-bg.jpg);
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

div#logo span {
    font-size: 36px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

ul#list_menu {
    box-sizing: border-box;
    width: 100%;
    /* height: 100vh; */
}

#list_menu li {
    box-sizing: border-box;
    padding: 20px 0px;
    width: 100%;
    border-bottom: 1px solid #fff;
}

#list_menu li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
}

ul li {
    list-style: none;
}

div#right_content_page {
    width: 50%;
    height: 100vh;
}

div#image_content_page {
    width: 100%;
    height: 100vh;
}

div#image_content_page img {
    width: 100%;
    height: 100%;
}

div#left_content_page {
    position: relative;
    width: 50%;
    height: 100vh;
    left: 0px;
    top: 0px;
}

div#content_page p {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

div#content_page h3 {
    font-size: 36px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

div#right_content_page {
    line-height: 1.5;
    padding: 5%;
    overflow: overlay;
}

.warraper_content_page {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0px;
    display: flex;
    height: 100vh;
    width: calc(100% - 250px);
    left: 0px;
    background-color: #fff;
    overflow: hidden;
    z-index: 999;
    position: relative;
}

ul#list li a {
    color: #fff;
    text-decoration: none;
}

.content_menu h3 {
    font-size: 36px;
    text-transform: capitalize;
}

.content_menu p {
    color: gray !important;
}

ul#list {
    position: relative;
    z-index: 999;
}

#list.sl_to_left li:nth-child(5) {
    opacity: 1;
    transition: 0.4s;
    transition-delay: 1.1s;
    transform: translateX(0px);
}
#list.sl_to_left li:nth-child(4) {
    opacity: 1;
    transition: 0.4s;
    transition-delay: 1s;
    transform: translateX(0px);
}
#list.sl_to_left li:nth-child(3) {
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.8s;
    transform: translateX(0px);
}

#list.sl_to_left li:nth-child(2) {
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.6s;
    transform: translateX(0px);
}


#list.sl_to_left li:nth-child(1) {
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.4s;
    transform: translateX(0px);
}


ul#list li:nth-child(1) {
    opacity: 0.4;
    transform: translateX(20%);
    transition: 0.6s;
}
ul#list li {
    opacity: 0;
    transition:0.6s;
    transform: translateX(20%);
}
.mouse_poit{
    transition:0.1s;
    position: absolute;
    border-radius: 50%;
    z-index: 999;
    width: 10px;
    height: 10px;
    background: gray;
}
.to_right{
    transition: 0.6s;
    transform: translateX(0px) !important;
}

video {
    width: 100%;
}

.bg {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}

div#content .blur_title {
    opacity: 0.15;
    z-index: 2;
    position: absolute;
    left: 10%;
    color: #fff;
    font-size: 6.5em;
    letter-spacing: 15px;
    font-family: sans-serif;
}
body{
}
div#blur {
    overflow: hidden;
    transform: translateX(100%);
    z-index: 2;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: #000000e3;
}

/* transition */
.menu.bg_stt_2 {
    background-color: #0000007a;
    cursor: pointer;
    z-index: 3;
}
.to_left{
    transition: 0.4s;
    transform: translateX(0px) !important;
    
}
.to_left_blur{
    transition: 0.4s;
    transform: translateX(0px) !important;
    animation: animate 0.8s forwards;

}

@keyframes animate {
    0%{
        opacity: 1;
    }
    

    50%{
        opacity: 0.5;
        
    }
    
    100%{
        opacity: 0;
        
    }
}


.icon-bar.rotate_white_1, .rotate_white_2{
    background-color: #fff !important;
    transform: rotateZ(36deg);
    transform-origin: 30px;
}
.rotate_white_2{
    transform: rotateZ(-45deg);
    transform-origin: 15px;
}
.hide{
    display: none;
    
}
ul#list_2 {
    display: flex;
    margin-top: 30px;
}

ul#list_2 li {
    color: #fff;
    list-style: none;
    margin-right: 30px;
}

ul#list li {
    font-size: 3.5em;
    color: #fff;
    list-style: none;
    margin-bottom: 20px;
    width: max-content;
    height: max-content;
}



div#content_list {
    z-index: 999;
    transform: translateX(100%);
    position: absolute;
    display: flex;
    width: 50%;
    padding-left: 80px;
    height: 100vh;
    background-color: #010101;
    justify-content: center;
    flex-direction: column;
    left: 50%;
}

#content .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div#content {
    /* z-index: 999; */
    align-items: center;
    transition: 0.6s;
    box-sizing: border-box;
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    top: 0px;
    justify-content: center;
}

div#content .content_menu {
    left: 0px;
    top: 0px;
    padding: 5%;
    line-height: 2.2;
     transform: translateX(-100%); 
    height: 100vh;
    position: absolute;
    width: 50%;
    overflow: overlay;
    box-sizing: border-box;
    background: #fff;
}
.image_bg_content{
     left: 0px;
     top: 0px;
     transform: translateX(200%);
     height: 100vh;
     position: absolute;
     width: 50%;
     overflow: hidden;
}
div#title_page {
    top: 50%;
    width: 100%;
    justify-content: center;
    display: flex;
    position: absolute;
    font-size: 16px;
    align-items: center;
    transform: rotate(90deg);
    transform-origin: center;
}

div#to_top {
    display: none;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #fff;
    line-height: 50px;
    border-radius: 50%;
    margin: auto;
    text-align: center;
}

div#icon_menu {
    box-sizing: border-box;
    display: none;
}

div#icon_menu .icon-bar {
    transition: 0.6s;
    margin: auto;
    width: 50px;
    height: 2px;
    transition:0.4s;
    margin-bottom: 4px;
    box-sizing: border-box;
    background-color: #fff;
}


div#menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.4s;
    color: #fff;
    flex-direction: column;
    z-index: 999;
    position: absolute;
    display: flex;
    right: 0px;
    height: 100vh;
    width: 250px;
    border-left: 2px solid #80808073;
    background: #252525;
    align-items: flex-start;
    padding: 50px 20px;
}
.wrapper_menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    z-index: 1;
}


 /*responsive*/
 @media only screen and (max-width: 768px) {
     *{}

div#title {
    font-size: 36px;
}

.content_home {
}

div#icon_menu {
    height: max-content;
    width: max-content;
    position: absolute;
    display: block;
    right: 20px;
    z-index: 999;
}

div#content_page {
    padding: 10px;
}

div#content {
    height: auto;
}

div#content_list {
    left: 0px;
    top: 100px;
    width: 100%;
    padding: 40px;
    display: block;
}


ul#list {
    /* position: fixed; */
    /* top: 0px; */
    /* z-index: 999; */
    /* transform: translateX(0px); */
}

div#item_content {
    display: none;
}

div#image_content_page {
    width: 100%;
    height: auto;
}

div#to_top {
    display: none;
}

div#logo {left: 20px;top: 30px;position: absolute;}

div#mouse_poit {display: none;}

ul#list_menu {
    transform: translateX(100%);
    left: 0px;
    overflow: hidden;
    top: 101px;
    position: fixed;
    z-index: 999;
    background: #252525;
    padding: 20px;
    transition: 0.4s;
}

ul#list_menu.show_menu {
    z-index: 999;
    transition: 0.4s;
    transform: translateX(0px);
}

div#right_content_page {
    width: 100%;
    padding: 0;
}

div#left_content_page {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.warraper_content_page {
    width: 100%;
    z-index: 0;
    display: block;
    top: 100px;
    height: auto;
}

div#menu {
    z-index: 998;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    flex-direction: row;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid #fff;
    background-color: #252525;
}

.wrapper_menu {
    z-index: 998;
    height: 100px;
}
 }